@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
@font-face {
  font-family: "kanit-semibold";
  src: url("../assets/fonts/kanit-semibold.woff") format("woff");
}
@font-face {
  font-family: "kanit-bold";
  src: url("../assets/fonts/kanit-bold.woff") format("woff");
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

@keyframes navbarColor {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(11, 11, 11);
  }
}
@keyframes navbar-anim {
  0% {
    opacity: 0%;
    transform: translateY(-80px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes title-anim {
  0% {
    opacity: 0%;
    transform: translateY(-50px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes title-2-anim {
  0% {
    opacity: 0%;
    transform: translateY(65px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes img-1-anim {
  0% {
    opacity: 50%;
    transform: translateX(-1000px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes img-2-anim {
  0% {
    opacity: 50%;
    transform: translateY(1000px);
    width: 85%;
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
    width: 100%;
  }
}
@keyframes img-3-anim {
  0% {
    opacity: 50%;
    transform: translateX(1000px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(11, 11, 11);
}

.title-container h1 {
  color: rgb(11, 11, 11);
  opacity: 0%;
  transform: translateY(-50px);
}

.nav-container-mobile {
  display: none;
}

.nav-container-desktop {
  opacity: 0%;
  transform: translateY(-80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 90px;
  padding: 15px 30px;
  animation-name: title-anim;
  animation-duration: 1.5s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  z-index: 1000;
}
.nav-container-desktop .menu {
  display: none;
}
.nav-container-desktop input {
  display: none;
}
.nav-container-desktop .hamburger-lines {
  display: none;
}
.nav-container-desktop ul {
  color: rgb(255, 255, 255);
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 200;
  display: flex;
  width: 25%;
}
.nav-container-desktop ul.nav-left {
  flex-direction: row;
}
.nav-container-desktop ul.nav-right {
  flex-direction: row-reverse;
}
.nav-container-desktop ul li {
  margin: 0 5px;
  transition: all 0.5s;
  cursor: pointer;
}
.nav-container-desktop ul li:hover {
  opacity: 0.8;
}
.nav-container-desktop .nav-logo {
  height: 100%;
}
.nav-container-desktop .logo {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 90px);
}
.container .title-container {
  text-align: center;
  margin: 10px 0 20px 0;
  z-index: 1;
}
.container .title-container h1 {
  font-family: "kanit-bold";
  font-size: 6.5vw;
  font-stretch: ultra-expanded;
  letter-spacing: 8px;
  word-spacing: 10px;
  animation-name: title-anim;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
.container .title-container h1#title-1 {
  color: rgb(255, 255, 255);
  margin-bottom: -15px;
  animation-delay: 3s;
  animation-delay: 2.2s;
}
@media screen and (max-width: 820px) {
  .container .title-container h1#title-1 {
    margin-bottom: 0;
  }
}
.container .title-container h1#title-2 {
  color: transparent;
  -webkit-text-stroke: 4px rgb(255, 255, 255);
  animation-delay: 4s;
  animation-name: title-2-anim;
  transform: translateY(65px);
  animation-duration: 2s;
}
@media screen and (max-width: 820px) {
  .container .title-container h1#title-2 {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    animation-delay: 2.7s;
  }
}
.container .img-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}
@media screen and (max-width: 820px) {
  .container .img-container {
    flex-direction: column;
    height: auto;
  }
}
.container .img-container .img-container-2 {
  height: 100%;
  width: 33%;
  overflow: hidden;
}
@media screen and (max-width: 820px) {
  .container .img-container .img-container-2 {
    width: auto;
  }
}
.container .img-container .img-container-2 .img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}
@media screen and (max-width: 820px) {
  .container .img-container .img-container-2 .img {
    width: 100%;
    height: 650px;
    margin: 10px 0 0 0;
  }
}
.container .img-container .img-container-2 .img#img-1 {
  background-image: url(..//assets/1.jpeg);
  background-position-y: 0;
  transform: translateX(-1000px);
  animation-name: img-1-anim;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.container .img-container .img-container-2 .img#img-2 {
  width: 85%;
  background-image: url(..//assets/2.jpeg);
  transform: translateY(1000px);
  animation-name: img-2-anim;
  animation-duration: 2.5s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
.container .img-container .img-container-2 .img#img-3 {
  background-image: url(..//assets/3.jpeg);
  background-position-y: 35%;
  transform: translateX(1000px);
  animation-name: img-3-anim;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 820px) {
  .container .img-container .img-container-2 .img#img-3 {
    background-position-y: 20%;
  }
}

@media screen and (max-width: 820px) {
  body {
    height: auto;
  }
  input {
    display: block;
  }
  .nav-container-desktop {
    height: 65px;
    flex-direction: row;
    z-index: 100000;
    position: fixed;
    width: 100%;
    background-color: rgb(11, 11, 11);
    top: 0;
  }
  .nav-container-desktop .nav-left {
    display: none;
  }
  .nav-container-desktop .nav-right {
    display: none;
  }
  .nav-container-desktop ul {
    width: 100%;
  }
  .nav-container-desktop .menu {
    transition: all 0.5s;
    position: absolute;
    height: calc(100vh - 65px);
    top: 65px;
    left: 0;
    width: 100%;
    background-color: rgb(11, 11, 11);
    transform: translateX(-100vw);
    padding: 20px;
    display: block;
  }
  .nav-container-desktop .menu ul {
    transition: all 0.25s ease-in;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .nav-container-desktop .menu ul li {
    text-align: center;
    font-size: 25px;
    margin: 10px 5px;
  }
  .nav-container-desktop .menu ul li.icon span {
    font-size: 30px;
    margin: 0 10px 0 0;
  }
  .nav-container-desktop .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 17px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .nav-container-desktop input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .nav-container-desktop input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .nav-container-desktop input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  .nav-container-desktop input[type=checkbox]:checked ~ .menu {
    transform: translateX(0);
  }
  .nav-container-desktop input[type=checkbox]:checked ~ body {
    overflow: hidden;
  }
  .nav-container-desktop .hamburger-lines {
    display: flex;
    position: absolute;
    height: 26px;
    width: 32px;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-container-desktop .hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
  }
  .nav-container-desktop .hamburger-lines .line.line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container-desktop .hamburger-lines .line.line2 {
    transition: transform 0.2s ease-in-out;
  }
  .nav-container-desktop .hamburger-lines .line.line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .container .title-container {
    padding: 5px 15px;
    margin: 0;
  }
  .container .title-container h1 {
    font-size: 5vw;
  }
  .container .img-container .img-container-2 .img {
    height: calc(100vh - 90px - 10vw + 10px);
  }
  .container .nav-container-mobile {
    display: block;
  }
  .container {
    height: auto;
    margin-top: 65px;
  }
}/*# sourceMappingURL=style.css.map */