//fonts
@font-face {
    font-family: "kanit-semibold";
    src: url("../assets/fonts/kanit-semibold.woff") format('woff');
  }
@font-face {
    font-family: "kanit-bold";
    src: url("../assets/fonts/kanit-bold.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}

//var
$semiboldFont: "kanit-semibold";
$boldFont: "kanit-bold";
$lightFont: "Kanit", sans-serif;
$darkColor: rgb(11, 11, 11);
$lightColor: rgb(255, 255, 255);
$imgSize: calc(100%/3 - 3%); 
$heightNavbar : 90px;
$fullscreen: calc(100vh - $heightNavbar);
$breakpoint: 820px;

//animations
@keyframes navbarColor {
    0% {background-color: transparent;}
    100% {background-color: $darkColor;}
}
@keyframes navbar-anim {
    0% {opacity: 0%; transform: translateY(-80px);}
    100% {opacity: 100%; transform: translateY(0);}
}

@keyframes title-anim {
    0% {opacity: 0%; transform: translateY(-50px);}
    100% {opacity: 100%; transform: translateY(0);}
}

@keyframes title-2-anim {
    0% {opacity: 0%; transform: translateY(65px);}
    100% {opacity: 100%; transform: translateY(0);}
}

@keyframes img-1-anim {
    0% {opacity: 50%; transform: translateX(-1000px);}
    100% {opacity: 100%; transform: translateX(0);}
}

@keyframes img-2-anim {
    0% {opacity: 50%; transform: translateY(1000px); width: 85%;}
    100% {opacity: 100%; transform: translateY(0); width: 100%;}
}
@keyframes img-3-anim {
    0% {opacity: 50%; transform: translateX(1000px);}
    100% {opacity: 100%; transform: translateY(0);}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

ul {
    list-style: none;
}
::-webkit-scrollbar {
    width: 0.5em;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #0000004f;
    border-radius: 10px;
    &:active {
        background: #00000083;
    }
}
::-webkit-scrollbar-corner {
    background: #0000004f;
    border-radius: 10px;
    &:active {
        background: #00000083;
    }
}

body {
    height: 100vh;
    width: 100%;
    background-color: $darkColor;
    overflow-y: overlay;
    overflow-x: hidden;
}

.title-container h1 {
    color: $darkColor;
    opacity: 0%; 
    transform: translateY(-50px);
}

.nav-container-mobile {
    display: none;
}

.nav-container-desktop {
    opacity: 0%; 
    transform: translateY(-80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $lightColor;
    height: $heightNavbar;
    padding: 15px 30px;
    animation-name: title-anim;
    animation-duration: 1.5s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    z-index: 1000;

    .menu {
        display: none;
    }

    input {
        display: none;
    }

    .hamburger-lines {
        display: none;
    }

    ul {
        color: $lightColor;
        font-family: $lightFont;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 200;
        display: flex;
        width: 25%;

        &.nav-left {
            flex-direction: row;
        }

        &.nav-right {
            flex-direction: row-reverse;
        }

        li {
            margin: 0 5px;
            transition: all .5s;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }
    
    .nav-logo {
        height: 100%;
    }

    .logo {
        height: 100%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: $fullscreen;

    .title-container {
        text-align: center;
        margin: 10px 0 20px 0 ;
        z-index: 1;

        h1 {
            font-family: $boldFont;
            font-size: 6.5vw;
            font-stretch: ultra-expanded;
            letter-spacing: 8px;
            word-spacing: 10px;
            animation-name: title-anim;
            animation-duration: 2.5s;
            animation-fill-mode: forwards;

            &#title-1 {
                color: $lightColor;
                margin-bottom: -15px;
                animation-delay: 3s;

                @media screen and (max-width: $breakpoint){
                    margin-bottom: 0;
                }
                animation-delay: 2.2s;
            }

            &#title-2 {
                color: transparent;
                -webkit-text-stroke: 4px $lightColor;
                animation-delay: 4s;
                animation-name: title-2-anim;
                transform: translateY(65px);
                animation-duration: 2s;

                @media screen and (max-width: $breakpoint) {
                    -webkit-text-stroke: 1px $lightColor;
                    animation-delay: 2.7s;
                }
            }
        }

    }

    .img-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 2;
        
        @media screen and (max-width: $breakpoint) {
            flex-direction: column;
            height: auto;
        }

        .img-container-2 {
            height: 100%;
            width: 33%;
            overflow: hidden;

            @media screen and (max-width: $breakpoint){
                width: auto;
            }

            .img {
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                transition: all .5s;

                @media screen and (max-width: $breakpoint) {
                    width: 100%;
                    height: 650px;
                    margin: 10px 0 0 0;
                }

                    &#img-1 {
                        background-image: url(..//assets/1.jpeg);
                        background-position-y: 0;
                        transform: translateX(-1000px);
                        animation-name: img-1-anim;
                        animation-duration: 2.5s;
                        animation-delay: 0.5s;
                        animation-fill-mode: forwards;
                    }
                    
                    &#img-2 {
                        width: 85%;
                        background-image: url(..//assets/2.jpeg);
                        transform: translateY(1000px);
                        animation-name: img-2-anim;
                        animation-duration: 2.5s;
                        animation-delay: 0.6s;
                        animation-fill-mode: forwards;
                    }

                    &#img-3 {
                        background-image: url(..//assets/3.jpeg);
                        background-position-y: 35%;
                        transform: translateX(1000px);
                        animation-name: img-3-anim;
                        animation-duration: 2.5s;
                        animation-delay: 0.5s;
                        animation-fill-mode: forwards;

                        @media screen and (max-width: $breakpoint){
                            background-position-y: 20%;
                        }
                    }
            }
        }
    }
}



@media screen and (max-width: $breakpoint){
    body {
        height: auto;
    }

    input {
        display: block;
    }

    .nav-container-desktop {
        $heightNavbar : 65px;
        height: $heightNavbar;
        flex-direction: row;
        z-index: 100000;
        position: fixed;
        width: 100%;
        background-color: $darkColor;
        top: 0;

        .nav-left {
            display: none;
        }
        .nav-right {
            display: none;
        }

        ul {
            width: 100%;
        }

        .menu {
            transition: all .5s;
            position: absolute;
            height: calc(100vh - $heightNavbar);
            top: $heightNavbar;
            left: 0;
            width: 100%;
            background-color: $darkColor;
            transform: translateX(-100vw);
            padding: 20px ;
            display: block;

            ul {
                transition: all 0.25s ease-in;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                li {
                    text-align: center;
                    font-size: 25px;
                    margin: 10px 5px;

                    &.icon {
                        span {
                           font-size: 30px; 
                           margin: 0 10px 0 0;
                        }
                        
                    }
                }
            }
        }
        
        .checkbox {
            position: absolute;
            display: block;
            height: 32px;
            width: 32px;
            top: 17px;
            right: 20px;
            z-index: 5;
            opacity: 0;
            cursor: pointer;
        }
          
        input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
        }
        
        input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
        }
        
        input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
        }

        input[type="checkbox"]:checked ~ .menu {
            transform: translateX(0);
        }
        input[type="checkbox"]:checked ~ body {
            overflow: hidden;
        }

        .hamburger-lines {
            display: flex;
            position: absolute;
            height: 26px;
            width: 32px;
            top: 17px;
            right: 20px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .line {
                display: block;
                height: 3px;
                width: 100%;
                border-radius: 10px;
                background: $lightColor;

                &.line1 {
                    transform-origin: 0% 0%;
                    transition: transform 0.4s ease-in-out;
                }
                &.line2 {
                    transition: transform 0.2s ease-in-out;
                }
                &.line3 {
                    transform-origin: 0% 100%;
                    transition: transform 0.4s ease-in-out;
                }
            }
        }
    }

    .container {

        .title-container {
            padding: 5px 15px;
            margin: 0;

            h1 {
                font-size: 5vw;
            }
        }

        .img-container {
            .img-container-2{
                .img {
                    height: calc(100vh - $heightNavbar - (2 * 5vw) + 10px);
                }
            }
        }
        .nav-container-mobile {
            display: block;
        }
    }
    .container {
        height: auto;
        margin-top: 65px;
    }
}